<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuliume.portal.mybatis.mapper.AnimalsMapper" >

  <resultMap id="BaseResultMap" type="com.liuliume.portal.entity.Animals" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="animals_name" property="animalsName" jdbcType="VARCHAR" />
    <result column="type_id" property="typeId" jdbcType="INTEGER" />
    <association property="type" javaType="com.liuliume.portal.entity.AnimalsType">
    	<id column="typeid" property="id" jdbcType="INTEGER" />
   		<result column="type_name" property="typeName" jdbcType="VARCHAR" />
    	<result column="expense_coefficient" property="expenseCoefficient" jdbcType="DOUBLE" />
    </association>
  </resultMap>
  
  <select id="listAnimals" resultMap="BaseResultMap">
  	SELECT a.id,animals_name,type_id,t.id as typeid,t.`type_name`,t.`expense_coefficient` 
	FROM animals a LEFT JOIN animals_type t ON a.`type_id` = t.`id` WHERE 1=1
	<if test="param.cond != null">
			<if test="param.cond.animals != null">
				<if
					test="param.cond.animals.animalsName != null and param.cond.animals.animalsName != ''">
					and animals_name like CONCAT(#{param.cond.animals.animalsName},'%')
				</if>
				<!-- add query cond here -->
			</if>
		</if>
		limit #{param.start},#{param.limit}
  </select>
  
  <select id="count" resultType="int">
  	SELECT count(1)
  	FROM animals a
  	where 1=1
	<if test="param.cond != null">
			<if test="param.cond.animals != null">
				<if
					test="param.cond.animals.animalsName != null and param.cond.animals.animalsName != ''">
					and animals_name like CONCAT(#{param.cond.animals.animalsName},'%')
				</if>
				<!-- add query cond here -->
			</if>
		</if>
  </select>
  
  <select id="findAnimalsById" resultMap="BaseResultMap">
  	SELECT a.id,animals_name,type_id,t.id as typeid,t.`type_name`,t.`expense_coefficient` 
	FROM animals a LEFT JOIN animals_type t ON a.`type_id` = t.`id` WHERE 1=1
	<if test="id!=null || id>0">
		and a.id=#{id}
	</if>
  </select>
</mapper>