<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuliume.portal.dao.AnimalsTypeMapper" >
  <resultMap id="BaseResultMap" type="com.liuliume.portal.entity.AnimalsType" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    <result column="expense_coefficient" property="expenseCoefficient" jdbcType="DOUBLE" />
  </resultMap>
  
  <select id="count" resultType="int">
  	select count(1) from animals_type where 1=1 
  	<if test="parameter.cond !=null ">
  		<if test="parameter.cond.animalsType != null">
  			<if test="parameter.cond.animalsType.typeName !=null">
  				and type_name like CONCAT(#{parameter.cond.animalsType.typeName},'%')
  			</if>
  		</if>
  	</if>
  </select>
  
  <select id="list" resultMap="BaseResultMap">
  	select id,type_name,expense_coefficient from animals_type where 1=1 
  	<if test="parameter.cond !=null ">
  		<if test="parameter.cond.animalsType != null">
  			<if test="parameter.cond.animalsType.typeName !=null">
  				and type_name like CONCAT(#{parameter.cond.animalsType.typeName},'%')
  			</if>
  		</if>
  	</if>
  	limit #{parameter.start},#{parameter.limit}
  </select>
</mapper>