<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuliume.portal.mybatis.mapper.CourseMapper" >
  <resultMap id="BaseResultMap" type="com.liuliume.portal.entity.Course" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="course_name" property="courseName" jdbcType="VARCHAR" />
    <result column="course_describe" property="courseDescribe" jdbcType="VARCHAR" />
    <result column="expense" property="expense" jdbcType="DOUBLE" />
  </resultMap>

    <select id="count" resultType="int" parameterType="com.liuliume.portal.entity.Course">
        select count(1) from course
        <where>
            <if test="param.cond != null">
                <if test="param.cond.course != null">
                    <if test="param.cond.course.courseName != null">
                        and course_name like CONCAT(#{param.cond.course.courseName},'%')
                    </if>
                    <!-- add query cond here -->
                </if>
            </if>
        </where>
    </select>

    <select id="list" parameterType="com.liuliume.portal.entity.Course" resultMap="BaseResultMap">
        select *
        from course where 1=1
        <if test="param.cond != null">
            <if test="param.cond.course != null">
                <if test="param.cond.course.courseName != null">
                    and course_name like CONCAT('%',#{param.cond.course.courseName},'%')
                </if>
                <!-- add query cond here -->
            </if>
        </if>
        limit #{param.start},#{param.limit}
    </select>
    
    <select id="listAllCourse" resultMap="BaseResultMap">
    	 select *
        from course
    </select>

  <sql id="Base_Column_List" >
    id, course_name, course_describe, expense
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuliume.portal.entity.Course" >
    insert into course (id, course_name, course_describe, 
      expense)
    values (#{id,jdbcType=INTEGER}, #{courseName,jdbcType=VARCHAR}, #{courseDescribe,jdbcType=VARCHAR}, 
      #{expense,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.liuliume.portal.entity.Course" >
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="courseName != null" >
        course_name,
      </if>
      <if test="courseDescribe != null" >
        course_describe,
      </if>
      <if test="expense != null" >
        expense,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="courseName != null" >
        #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDescribe != null" >
        #{courseDescribe,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuliume.portal.entity.Course" >
    update course
    <set >
      <if test="courseName != null" >
        course_name = #{courseName,jdbcType=VARCHAR},
      </if>
      <if test="courseDescribe != null" >
        course_describe = #{courseDescribe,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuliume.portal.entity.Course" >
    update course
    set course_name = #{courseName,jdbcType=VARCHAR},
      course_describe = #{courseDescribe,jdbcType=VARCHAR},
      expense = #{expense,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>