<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuliume.portal.mybatis.mapper.HairdressingMapper" >
  <resultMap id="BaseResultMap" type="com.liuliume.portal.entity.Hairdressing" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="hairdressing_name" property="hairdressingName" jdbcType="VARCHAR" />
    <result column="hairdressing_describe" property="hairdressingDescribe" jdbcType="VARCHAR" />
    <result column="expense" property="expense" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hairdressing_name, hairdressing_describe, expense
  </sql>

    <select id="count" resultType="int" parameterType="com.liuliume.portal.entity.Hairdressing">
        select count(1) from hairdressing
        <where>
            <if test="param.cond != null">
                <if test="param.cond.hairdressing != null">
                    <if test="param.cond.hairdressing.hairdressingName != null">
                        and hairdressing_name like CONCAT(#{param.cond.hairdressing.hairdressingName},'%')
                    </if>
                    <!-- add query cond here -->
                </if>
            </if>
        </where>
    </select>

    <select id="list" parameterType="com.liuliume.portal.entity.Hairdressing" resultMap="BaseResultMap">
        select *
        from hairdressing where 1=1
        <if test="param.cond != null">
            <if test="param.cond.hairdressing != null">
                <if test="param.cond.hairdressing.hairdressingName != null">
                    and hairdressing_name like CONCAT('%',#{param.cond.hairdressing.hairdressingName},'%')
                </if>
                <!-- add query cond here -->
            </if>
        </if>
        limit #{param.start},#{param.limit}
    </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hairdressing
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hairdressing
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuliume.portal.entity.Hairdressing" >
    insert into hairdressing (id, hairdressing_name, hairdressing_describe, 
      expense)
    values (#{id,jdbcType=INTEGER}, #{hairdressingName,jdbcType=VARCHAR}, #{hairdressingDescribe,jdbcType=VARCHAR}, 
      #{expense,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.liuliume.portal.entity.Hairdressing" >
    insert into hairdressing
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hairdressingName != null" >
        hairdressing_name,
      </if>
      <if test="hairdressingDescribe != null" >
        hairdressing_describe,
      </if>
      <if test="expense != null" >
        expense,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hairdressingName != null" >
        #{hairdressingName,jdbcType=VARCHAR},
      </if>
      <if test="hairdressingDescribe != null" >
        #{hairdressingDescribe,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        #{expense,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuliume.portal.entity.Hairdressing" >
    update hairdressing
    <set >
      <if test="hairdressingName != null" >
        hairdressing_name = #{hairdressingName,jdbcType=VARCHAR},
      </if>
      <if test="hairdressingDescribe != null" >
        hairdressing_describe = #{hairdressingDescribe,jdbcType=VARCHAR},
      </if>
      <if test="expense != null" >
        expense = #{expense,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuliume.portal.entity.Hairdressing" >
    update hairdressing
    set hairdressing_name = #{hairdressingName,jdbcType=VARCHAR},
      hairdressing_describe = #{hairdressingDescribe,jdbcType=VARCHAR},
      expense = #{expense,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>