<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuliume.portal.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.liuliume.portal.entity.Room" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="DOUBLE" />
    <result column="weixin_discount" property="weixinDiscount" jdbcType="DOUBLE" />
    <result column="30_discount" property="30Discount" jdbcType="DOUBLE" />
    <result column="90_discount" property="90Discount" jdbcType="DOUBLE" />
    <result column="180_discount" property="180Discount" jdbcType="DOUBLE" />
    <result column="room_num" property="roomNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, room_name, cost, weixin_discount, 30_discount, 90_discount, 180_discount, room_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.liuliume.portal.entity.Room" >
    insert into room (id, room_name, cost, 
      weixin_discount, 30_discount, 90_discount, 
      180_discount, room_num)
    values (#{id,jdbcType=INTEGER}, #{roomName,jdbcType=VARCHAR}, #{cost,jdbcType=DOUBLE}, 
      #{weixinDiscount,jdbcType=DOUBLE}, #{30Discount,jdbcType=DOUBLE}, #{90Discount,jdbcType=DOUBLE}, 
      #{180Discount,jdbcType=DOUBLE}, #{roomNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.liuliume.portal.entity.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomName != null" >
        room_name,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="weixinDiscount != null" >
        weixin_discount,
      </if>
      <if test="30Discount != null" >
        30_discount,
      </if>
      <if test="90Discount != null" >
        90_discount,
      </if>
      <if test="180Discount != null" >
        180_discount,
      </if>
      <if test="roomNum != null" >
        room_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomName != null" >
        #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="weixinDiscount != null" >
        #{weixinDiscount,jdbcType=DOUBLE},
      </if>
      <if test="30Discount != null" >
        #{30Discount,jdbcType=DOUBLE},
      </if>
      <if test="90Discount != null" >
        #{90Discount,jdbcType=DOUBLE},
      </if>
      <if test="180Discount != null" >
        #{180Discount,jdbcType=DOUBLE},
      </if>
      <if test="roomNum != null" >
        #{roomNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuliume.portal.entity.Room" >
    update room
    <set >
      <if test="roomName != null" >
        room_name = #{roomName,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="weixinDiscount != null" >
        weixin_discount = #{weixinDiscount,jdbcType=DOUBLE},
      </if>
      <if test="30Discount != null" >
        30_discount = #{30Discount,jdbcType=DOUBLE},
      </if>
      <if test="90Discount != null" >
        90_discount = #{90Discount,jdbcType=DOUBLE},
      </if>
      <if test="180Discount != null" >
        180_discount = #{180Discount,jdbcType=DOUBLE},
      </if>
      <if test="roomNum != null" >
        room_num = #{roomNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuliume.portal.entity.Room" >
    update room
    set room_name = #{roomName,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=DOUBLE},
      weixin_discount = #{weixinDiscount,jdbcType=DOUBLE},
      30_discount = #{30Discount,jdbcType=DOUBLE},
      90_discount = #{90Discount,jdbcType=DOUBLE},
      180_discount = #{180Discount,jdbcType=DOUBLE},
      room_num = #{roomNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>