@charset "utf-8";
/* CSS Document */

/*reset*/
*{margin:0;padding:0;border:0;list-style:none;text-decoration:none}
body{background-color: #fff; color: #555; font-family: Microsoft Yahei,微软雅黑,宋体,Arial,Lucida,Verdana,Helvetica,sans-serif; min-width: 320px;}
input,select{-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;border-radius:0}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance: none}
textarea {-webkit-appearance:none}
.wrapper{background-color: #fff; margin: 0 auto; max-width: 640px; min-width: 320px; overflow: hidden; width: 100%;}

/*login*/
.cd-logo{width:100%;text-align:center;margin:80px 0 30px}
.wrapper input{border-top:1px solid #d2d8d8;border-bottom:1px solid #d2d8d8; padding:16px 20px 16px 50px; margin:20px 0;width:100%; font-size:16px; font-weight:300; letter-spacing:2px;border-radius:0}
.wrapper textarea{ border:1px solid #d2d8d8;margin:5%;width:81%; font-size:16px; font-weight:300; letter-spacing:2px;border-radius:0; line-height:20px; padding:20px; text-indent:0}
.phoneNum{background:url(../img/cd-icon-username.png) no-repeat 17px 9px}
.yzm{background:url(../img/cd-icon-yzm.png) no-repeat 11px 12px}
.get-code{ position:absolute; top:25px; right:5px; background:#d2d1d1; height:40px; width:130px; text-align:center; line-height:40px}
.wrapper input:focus{border-color: #ffd800;box-shadow: 0 0 5px rgba(52, 54, 66, 0.1)}
.wrapper input[type=submit]{padding:16px 0;background:#ffd800;color:#493939;border-radius:6px;display:block;width:87%; margin:80px auto 0;font-weight:bold;font-size:1.25em; border:0}

.next{padding:16px 0;background:#ffd800;color:#493939;border-radius:6px;display:block;width:87%; text-align:center; margin:0 auto 15px;font-weight:bold;font-size:1.25em; border:0}

/* 首页焦点图 */
.slideBox{ position:relative; overflow:hidden; margin:0 auto;  max-width:640px;/* 设置焦点图最大宽度 */ }
.slideBox .hd{ position:absolute; height:28px; line-height:28px; bottom:10px; right:32%; z-index:1; }
.slideBox .hd li{ display:inline-block; width:10px; height:10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; background:#fff; text-indent:-9999px; overflow:hidden; margin:0 10px}
.slideBox .hd li.on{ background:#333; width:20px}
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(../img/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */

/* 首页内容 */
.index{ width:100%;}
.index a{width:50%; float:left; height:50px;color:#000; font-size:20px; text-align:center;background-size:35% auto;padding-top:68px;}
.a1{ background:url(../img/t1.png) no-repeat center 10px;}
.a2{ background:url(../img/t2.png) no-repeat center 10px;}
.a3{ background:url(../img/t3.png) no-repeat center 10px;margin-bottom:50px}
.a4{ background:url(../img/t4.png) no-repeat center 10px;margin-bottom:50px}

/* 导航 */
.nav a{background:url(../img/nav-icon.png) no-repeat #fff;background-size:auto 50%;width:50%;line-height:50px; font-size:18px; text-align:center;position:fixed;background-position:19px center;bottom:0;border-top:1px solid #c6c6c6; color:#000;text-indent:25px}
.nav a:first-child{left:0; border-right:1px solid #c6c6c6}
.nav a:last-child{right:0}

/* 主人的信息 */
.username{width:100%; height:140px}
.username span{display:inline-block; float:left;width:80px; height:80px; margin:30px 40px 30px 50px;border-radius:80px;background:url(../img/user-photo.png) no-repeat center #b6b6b6;background-size:60% auto;}
.username input{display:inline-block; height:20px;width:100px; line-height:20px; margin:45px 0;font-style:normal;font-size:19px; border:none; padding:16px 20px 16px 5px}
.list{color:#493939;display:block;width:100%; height:70px;text-indent:60px;line-height:70px;border-top:1px solid #927d76; border-bottom:1px solid #927d76; position:relative}
.info-order{background:url(../img/info-icon-order.png) no-repeat 13px center;background-size:auto 37%;}
.info-addr{border-top:none; background:url(../img/info-icon-addr.png) no-repeat 10px center;background-size:auto 45%}
.arrow{ display:inline-block; position:absolute; right:40px;font-size:25px; font-weight:100}

/* 订单列表 */
.order-list,.addr-list{color:#493939;display:block;width:100%; height:auto; padding:10px 0;border-bottom:1px solid #927d76;background:url(../img/info-icon-order.png) no-repeat 13px 15px;background-size:7% auto;}
.list-detail,.addr-list{ padding-left:60px;line-height:35px;position:relative}

/* 订单列表 */
.order-detail{ border:none; height:50px; line-height:50px}
.order-detail span{ display:inline-block;text-indent:20px}
.ico-item{background:url(../img/ico-item.png) no-repeat 13px center;background-size:auto 42%}
.ico-time{background:url(../img/ico-time.png) no-repeat 13px center;background-size:auto 42%}
.ico-phone{background:url(../img/cd-icon-username.png) no-repeat 17px center;background-size:auto 42%}
.ico-addr{background:url(../img/info-icon-addr.png) no-repeat 13px center;background-size:auto 42%}
.ico-price{background:url(../img/ico-price.png) no-repeat 15px center;background-size:auto 42%}
.serve-title{border-top:1px solid #927d76; padding:20px 0 0; height:30px; line-height:30px}
.serve-supply{font-size:14px; height:30px; line-height:30px}
.going-on-title{height:30px; line-height:30px; padding-top:15px}
.going-on{background:url(../img/ico-yellow-dot.png) no-repeat 30px center;background-size:auto 30%; font-size:14px; height:30px; line-height:30px}

/* 订单提交 */
.order-submit{border-top:none; height:58px; line-height:58px}
.order-submit span{ display:inline-block;text-indent:20px; font-size:14px}
.ico-check{background:url(../img/ico-check.png) no-repeat 13px center;background-size:auto 37%}
.order-submit.ico-time{background-size:auto 37%}
.order-submit.ico-time span{word-spacing:-3px; letter-spacing: 0px; font-size:12px}
.ico-ask{background:url(../img/ico-ask.png) no-repeat 13px center;background-size:auto 37%}
.order-submit.ico-price{background-size:auto 37%; background-position:13px center}
.ico-pay{background:url(../img/ico-pay.png) no-repeat 13px center;background-size:auto 42%}
.pay-metod input{ height:15px; width:15px; border-radius:15px; border:2px solid #c6c6c6; margin-right:10px;vertical-align:middle}
.pay-metod .list{ border:none}
.list input[type=checkbox]{ height:15px; width:15px;border:2px solid #c6c6c6;margin-right:10px;vertical-align:middle}

/* 订单确认 */
.order-confirm{border-top:none; height:58px; line-height:58px}
.order-confirm span{ display:inline-block;font-size:14px;line-height:25px; padding-left:20px;text-indent:0}
.ico-confirm{ text-align:center; border-bottom:none; font-size:20px;background:url(../img/ico-confirm.png) no-repeat 35% center;background-size:auto 42%}
.order-numb{text-align:center; width:90%; border-bottom:none; height:30px; line-height:30px; padding-bottom:20px}
.order-confirm.ico-addr{background-size:auto 46%;background-position:10px center}
.order-confirm.ico-item{border-top:1px solid #927d76; border-bottom:none; height:30px;line-height:30px; padding-top:20px;background-position:10px 25px}
.confirm-detail{ border-bottom:none;height:30px; line-height:30px; font-size:14px;text-indent:144px;}
.order-confirm.ico-time{border-top:1px solid #927d76; margin-top:10px;background-size:auto 38%}


/* 地址列表 */
.addr-list{background:url(../img/info-icon-addr.png) no-repeat 13px 15px;background-size:7% auto;}

/* 地址详情 */


/* 宠物寄养 */
.foster-ad{overflow:hidden; margin:0 auto;  max-width:640px;/* 设置焦点图最大宽度 */ }
.foster-ad img{ background:url(../img/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.foster-time{background:url(../img/ico-time.png) no-repeat 13px center;background-size:auto 37%;}
.foster-breed{background:url(../img/ico-breed.png) no-repeat 13px center;background-size:auto 37%;}
.foster-total{border:none; text-align:right; height:50px; line-height:50px; text-indent:1%;}
.foster-room{border:none;background:url(../img/ico-room.png) no-repeat 13px center;background-size:auto 37%}
.foster-room span{display:inline-block; float:right}
.room-list{border:none; height:30px; line-height:30px}

/* 宠物美容 */
.beauty-serve{ border-top:none;height:50px; padding-bottom:20px}
.beauty-serve span{ display:inline-block; width:50%; float:left}
.beauty-serve input[type=radio]{height:15px; width:15px; border-radius:15px; border:2px solid #c6c6c6; margin-right:10px;vertical-align:middle; padding:0}

/* 弹窗组件 */
.ui-dialog{position:fixed;top:0;left:0;width:100%;height:100%;z-index:9999;display:-webkit-box;-webkit-box-orient:horizontal;-webkit-box-pack:center;-webkit-box-align:center;background:rgba(0,0,0,.4)}
.ui-dialog-cnt{border-radius:6px;width:270px;-webkit-background-clip:padding-box;background-clip:padding-box;pointer-events:auto;background-color:rgba(253,253,253,.95);position:relative;font-size:16px}
.ui-dialog-hd{height:48px;line-height:48px;text-align:center;position:relative}
.ui-dialog-ft{border-bottom-left-radius:6px;border-bottom-right-radius:6px;display:-webkit-box;width:100%;box-sizing:border-box;-webkit-box-align:center;border-top:1px solid #e0e0e0;height:42px;line-height:42px}
.ui-dialog-ft button{color:#00a5e0;text-align:center;width:100%;line-height:42px;background:0 0;display:block;margin:0!important;-webkit-box-flex:1}

/* 查看详情弹窗 */
.t_title{ background:#ffd800; height:50px; line-height:50px; text-align:center; width:100%;position:absolute; bottom:62%;left:0}
.t_title span{ display:inline-block;padding:0 20px; position:absolute}
.t_content{background:#fff; height:62%; width:100%; position:absolute; bottom:0;left:0;overflow:auto;}
.content_p{ padding:10px}

/* 服务时间弹窗 */
.ts_content{background:#fff; height:62%; width:100%; position:absolute; bottom:0;left:0}
.t_1,.t_2,.t_3{width:30%; height:100%; line-height:55px; color:#929292; float:left;overflow:auto;border-right:1px solid #929292;}
.t_3{width:39%;border-right:none}
.ts_content span{display:inline-block; width:100%; text-align:center;border-bottom:1px solid #929292}
.hover{ background:#fff3b2; color:#49271b}

/* 服务协议弹窗 */
.deal-cnt{width:90%;-webkit-background-clip:padding-box;background-clip:padding-box;pointer-events:auto;background-color:rgba(253,253,253,.95);position:relative;font-size:16px; height:90%; overflow:auto}
.deal-cnt-close{text-align:right; color:#49271b;position:absolute; top:10px; right:10px}
.deal-cnt-title{text-align:center; font-size:20px; padding-top:20px}
.deal-cnt-p{ padding:10px 10px 10px 20px}

/* 宠物列表 */
.mui-content{background-color:#efeff4;-webkit-overflow-scrolling:touch}
.mui-table-view{background-color: #fff; list-style: outside none none; margin-bottom: 0; margin-top: 0; padding-left: 0; position: relative;}
.mui-table-view::after{background-color: #c8c7cc; bottom: 0; content: ""; height: 1px; left: 0; position: absolute; right: 0; transform: scaleY(0.5);}
.mui-table-view::before{background-color: #c8c7cc; content: ""; height: 1px; left: 0; position: absolute; right: 0; top: 0; transform: scaleY(0.5);}
.mui-table-view-divider{background-color: #fafafa; color: #999; font-weight: 500; margin-left: 0; margin-top: -1px; padding-bottom: 6px; padding-left: 15px; padding-top: 6px; position: relative;}
.mui-table-view-cell{background-color: inherit; overflow: hidden; padding: 11px 15px; position: relative;}
.mui-table-view-divider::before{background-color: #c8c7cc; content: ""; height: 1px; left: 0; position: absolute; right: 0; top: 0; transform: scaleY(0.5);}
.mui-table-view-cell::after{background-color: #c8c7cc; bottom: 0; content: ""; height: 1px; left: 15px; position: absolute; right: 0; transform: scaleY(0.5);}
.mui-table-view-divider::after{background-color: #c8c7cc; bottom: 0; content: ""; height: 1px; left: 0; position: absolute; right: 0; transform: scaleY(0.5);}
.mui-group-list{position: relative;border-top: solid 1px #e3e3e3;border-bottom: solid 1px #e3e3e3;overflow: hidden;background-color: #fafafa;height: 300px;cursor: default;}
.mui-group-list-inner{margin: 0px;padding: 0px;overflow-y: auto;border: none;}
.mui-group-list-inner::-webkit-scrollbar{width: 0px;height: 0px;visibility: hidden;}
.mui-group-list-empty-alert,
.mui-group-list-inner.empty ul{display: none;}
.mui-group-list-inner.empty .mui-group-list-empty-alert{display: block;}
.mui-group-list-empty-alert{padding: 30px 15px;text-align: center;color: #ccc;padding-right: 45px;}
.mui-ios .mui-group-list-inner{width: calc(100% + 10px);}
.mui-group-list-group,
.mui-group-list-item{padding-right: 45px;}
.mui-ios .mui-group-list-group,
.mui-ios .mui-group-list-item,
.mui-ios .mui-group-list-empty-alert{padding-right: 55px;}
.mui-group-list-group{background-color: #f7f7f7;}
.mui-group-list-group{padding-top: 3px;padding-bottom: 3px;}
.mui-group-list-search{border-bottom: solid 1px #e3e3e3;z-index: 15;}
.mui-group-list-search.mui-search:before{margin-top: -10px;}
.mui-group-list-search input{border-radius: 0px;margin: 0px;background-color: #fafafa;}
.mui-group-list-bar{width: 23px;background-color: lightgrey;position: absolute;height: 100%;z-index: 10;right: 0px;-webkit-transition: .2s;}
.mui-group-list-bar a{display: block;text-align: center;font-size: 11px;padding: 0px;margin: 0px;line-height: 15px;color: #aaa;}
.mui-group-list-bar.active{background-color: rgb(200,200,200);}
.mui-group-list-bar.active a{color: #333;}
.mui-group-list-bar.active a.active{color: #007aff;}
.mui-group-list-alert{position: absolute;z-index: 20;background-color: rgba(0, 0, 0, 0.5);width: 80px;height: 80px;left: 50%;top: 50%;margin-left: -40px;margin-top: -40px;border-radius: 40px;text-align: center;line-height: 80px;font-size: 35px;color: #fff;display: none;-webkit-transition: .2s;}
.mui-group-list-alert.active{display: block;}
